@model string

@if (!String.IsNullOrEmpty(Model))
{
    var claseMensajeEstado = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@claseMensajeEstado alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        @Model
    </div>
}
