@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-6 col-lg-4" style="margin-top: 5px">
        <div class="border rounded p-4 bg-light shadow-sm">
            <form id="account" method="post">
                <h2 class="text-center">Iniciar sesión en tu cuenta</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger text-center" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Correo Electrónico</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="contraseña" />
                    <label asp-for="Input.Password">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Recordar
                    </label>
                </div>

                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary btn-unificado">Iniciar Sesión</button> <!-- Clase btn-unificado -->

                <div class="text-center mt-3">
                    <p><a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a></p>
                    <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo usuario</a></p>
                    <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación de correo</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
