@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tienda Online</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .full-screen-image {
            background-image: url('@Url.Content("~/Imagenes/tiendas.jpg")');
            background-size: cover;
            background-position: center;
            height: 80vh; /* Ajusta la altura según prefieras */
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .footer {
            position: relative;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <!-- Opcional: contenido del encabezado -->
    </header>

    <div class="container mt-5">
        <h1 class="text-center titulo-unificado">Bienvenido a la Tienda Online</h1>
    </div>

    <div class="full-screen-image">
        <!-- Puedes agregar texto o elementos adicionales sobre la imagen aquí -->
    </div>

   

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
</body>
</html>
