@model pasajeApp.Modelo.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="container mt-4">
    <h2 class="text-primary">Editar Usuario</h2>

    <form asp-action="Edit" method="post">
        @* Campo oculto para el Id del usuario *@
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>     

        <div class="form-group">
            <label asp-for="Edad" class="control-label"></label>
            <input asp-for="Edad" class="form-control" type="number" />
            <span asp-validation-for="Edad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>   

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
