@model pasajeApp.Modelo.Articulo

@{
    ViewData["Title"] = "Editar Artículo";
}

<br />
<br />
<h3 class="text-center">Editar artículo</h3>
<form method="POST" asp-action="Edit">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre del artículo" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Descripcion"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Descripcion" class="form-control" placeholder="Ingresa la descripción"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FechaCreacion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="FechaCreacion" class="form-control" placeholder="Fecha de creación" />
                    <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="urlImagen"></label>
                </div>
                <div class="col-8">
                    <input asp-for="urlImagen" class="form-control" placeholder="URL de la imagen" />
                    <span asp-validation-for="urlImagen" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CategoriaId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CategoriaId" class="form-control" placeholder="ID de la categoría" />
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Editar Artículo</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atrás</a>
                </div>
            </div>

        </div>

    </div>
</form>
