﻿@{
    ViewData["Title"] = "Lista de Artículos";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Lista de Artículos</h2>
        </div>
    </div>

    <br />
    <br />

    <div class="row" id="cardsContainer">
        <!-- Aquí se cargarán las cards -->
    </div>

</div>



@section Scripts {
    <script src="~/js/articuloCliente.js"></script>
}